.categories {
  &__list {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
  }

  &__item {
    border: 1px solid #4c4b4b;
    padding: 0;
  }

  &__image {
    border-radius: 5px;
  }

  &__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #f0f0f0;
    text-decoration: none;
    padding: 10px;
    background-color: #212529;

    &:hover {
      background-color: rgb(224, 50, 50);
      color: #f0f0f0;
    }
  }
}
